/**
* layout-type1-wrap
* 上--中--下 header--main-footer
* 铺满整个屏幕
*/

.layout-type1-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.layout-type1-wrap > .header {
  width: 100%;
  height: 70px;
  position: relative;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.layout-type1-wrap > .main {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 30px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.layout-type1-wrap > .footer {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px dashed #ddd;
}
